/*------------------------------------*\
  $ NAVIGATION
\*------------------------------------*/
.principalnav {
  color: #000;
  list-style: none;
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &__item:last-child a { border-right: none; }
  &::-webkit-scrollbar { display: none;}
  &__item {
    display: inline;
  }
  &__item--link {
    border-right: 1px solid $black;
    color: $boulder;
    display: inline-block;
    font: 400 1.6rem/36px 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    padding: 5px 36px 0; margin: 12px 0;
    text-decoration: none;
    text-transform: uppercase;
  }
}